<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/charvi.jpeg" alt="Image" />
              </a>
            </div>
            <h1 class="h2 title">Charvi Bhatia</h1>
            <p class="category text-white">Frontend Developer</p>
            
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://instagram.com/_charvi_bhatia?igshid=NmQ2ZmYxZjA="
                target="_blank" rel="tooltip" title="Follow me on Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon"
                href="https://www.linkedin.com/in/charvi-bhatia-3036051ab/" target="_blank" rel="tooltip"
                title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/charvibhatia07" target="_blank"
                rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>